<div class="home-callout text-center container-fluid">
    <h1>Welcome to DevMatch</h1>
    <h3>My first ruby on rails app</h3>
    <h3>Written thanks to free <a href="//upskillcourses.com/" class="white" >Upskill course by Rob Dey.</a></h3>
</div>